// 调整容器最大宽度
/* @media (min-width: 1280px) {
  .v-container {
    max-width: 1280px !important;
  }
} */

// 更平滑的自适应
/* @media (min-width: 900px) {
  .v-container {
    max-width: 900px !important;
  }
} */

// 隐藏进度条的底色
.hideProgressUnderlay .v-progress-circular__underlay {
  display: none;
}

.v-icon--size-default {
  font-size: 24px !important;
}

// 选中的图标不变灰
.v-btn--active.v-btn--variant-plain {
  opacity: 1 !important;
}

// 页面切换时标题栏不乱跑
.v-toolbar {
  top: 0 !important;
  transform: translateY(0%) !important;
}

// 页面切换时侧滑栏不乱跑
.v-navigation-drawer {
  top: 0 !important;
}

.v-menu .v-overlay__content>.v-list {
  box-shadow: 0 6px 12px 0px rgb(0 0 0/16%), 0 0 2px 0 rgb(0 0 0/8%) !important;
}

.list-item-primaryIcon .v-list-item__prepend>.v-icon {
  opacity: 1 !important;
  color: rgb(var(--v-theme-primary));
}

.v-list-item__prepend,
.v-list-item__append {
  height: 100%;
}
